__pycache__/
*.zip
*.ckpt
*.egg-info/
*.png
*.pth
*.pt
*.pdf
.ipynb_checkpoints/
cali_output
bin
compiler_compat
conda-meta
doc
etc
lib
man
output 
output_def
recon_checkpoint_dir
samples
share
src
ssl 
x86_64-conda_cos7-linux-gnu
x86_64-conda-linux-gnu
